<main style="background-color: #F6B51F;">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="welcome-container">
            <div>
                <h1 class="display-4">Bienvenue dans Escaperoom !</h1>
                <p class="lead">Êtes-vous prêt à résoudre les énigmes et vous échapper avant la fin du temps imparti ?</p>
                <a routerLink="/login" class="btn btn-primary btn-lg">Réserver une session</a>
            </div>
        </div>
    </div>
</main>